<div class="header">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Date from</mat-label>
      <input matInput [matDatepicker]="pickerFrom" formControlName="dateFrom" />
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date to</mat-label>
      <input matInput [matDatepicker]="pickerTo" formControlName="dateTo" />
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button (click)="
        exporter.exportTable('xls', {
          fileName: 'Processes ' + form.controls.dateFrom.value
        })
      ">
      Excel Export
    </button>
  </form>
</div>

<div class="graph">
  <ngx-charts-bar-vertical [view]="" [scheme]="colorScheme" [results]="graphData" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" [animations]="false">
  </ngx-charts-bar-vertical>
</div>

<table mat-table [dataSource]="this.dataSource" matSort matTableExporter filename #exporter="matTableExporter"
  class="mat-elevation-z3">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.date | firestoreDate }}
    </td>
  </ng-container>

  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef>Product id</th>
    <td mat-cell *matCellDef="let element">{{ element.product }}</td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Count</th>
    <td mat-cell *matCellDef="let element">
      {{ element.quantity | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="person">
    <th mat-header-cell *matHeaderCellDef>User</th>
    <td mat-cell *matCellDef="let element">{{ element.person }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>