mat-card {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    background-color: #f0eeee;
    cursor: pointer;
}

mat-card-subtitle {
    color: #000;
}

mat-card-footer {
    color: rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-columns: 26% 14% 60%;
    position: absolute;
    bottom: 20px;
    left: 45px;
    right: 28px;

    .quantityToday {
        text-align: right;
    }

    .weight {
        text-align: right;
    }
}

.mat-card-image {
    position: relative;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cl-image,
    img {
        flex-grow: 1;
        max-width: 100%;
        object-fit: contain;
    }
}

.noPhoto {
    height: 200px;
    margin: 0 auto;
    display: block;
    background: #ddd;
    padding: 25px 0;
}
